{% extends "layout.html" %}

{% block content %}

<div class="overview">

    <div style="display:flex;gap:15px;margin-bottom:30px;justify-content:center;">

        <button class="action-btn" onclick="refreshMarket()">
            🔄 Refresh
        </button>

        <button class="action-btn" onclick="toggleTheme()">
            🌙 Theme
        </button>

    </div>

    <div class="box">
        <h3>Coins</h3>
        <h1>{{ coins|length }}</h1>
    </div>

    <div class="box">
        <h3>Updated</h3>
        <h1>{{ time }}</h1>
    </div>

    <div class="box">
        <h3>AI Status</h3>
        <h1 style="color:#00ff99;">ONLINE</h1>
    </div>

</div>

<form action="/search" method="get" class="search-box">

    <input
        type="text"
        name="coin"
        placeholder="Search Bitcoin, Ethereum..."
        required>

    <button>
        Search
    </button>

</form>

<div class="chart-box">

    <h2>📈 Bitcoin Live Chart</h2>

    <canvas id="btcChart"></canvas>

</div>

    <div class="market-status">
    <!-- 🤖 AI ANALYSIS BOX -->
    <div id="ai-box" class="ai-box">
    <h2>🤖 AI Loading...</h2>
    </div>

    

    <div class="status-card">

        🏆 Top Gainer

        <br><br>

        <b>{{ gainer.symbol }}</b>

        <br>

        ▲ {{ gainer.change }} %

    </div>

    <div class="status-card">

        📉 Top Loser

        <br><br>

        <b>{{ loser.symbol }}</b>

        <br>

        {{ loser.change }} %

    </div>

</div>

<div class="cards">

{% for coin in coins %}

<div class="card">

    <div class="top">

        <img src="{{ coin.image }}" width="42">

        <div>

            <h2>{{ coin.symbol }}</h2>

            <p>{{ coin.name }}</p>

        </div>

    </div>

    <div class="price">

        ${{ coin.price }}

    </div>

    {% if coin.change >= 0 %}

    <div class="green">

        ▲ {{ coin.change }} %

    </div>

    {% else %}

    <div class="red">

        ▼ {{ coin.change }} %

    </div>

    {% endif %}

    <div class="rank">

        Rank #{{ coin.rank }}

        <button
            class="fav-btn"
            onclick="addWatch('{{ coin.symbol }}')">

            ⭐ Favorite

        </button>

    </div>

</div>

{% endfor %}

</div>

<div class="ai-box">

    <h2>🤖 AI Market Analysis</h2>

    <p>Current Trend</p>

    <h1 style="color:#00ff99;">
        BULLISH
    </h1>

    <p>Confidence</p>

    <h2>86%</h2>

    <p>Next AI Scan: 30 sec</p>

</div>

<footer>

    Powered by ❤️ TEKA AI

</footer>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/static/js/chart.js"></script>
<script src="/static/js/app.js"></script>
<script src="/static/js/watchlist.js"></script>

{% endblock %}