<!DOCTYPE html>
<html lang="fa">
<head>
<meta charset="UTF-8">
<title>TEKA MarketMind AI</title>

<style>

body{
    background:#0d1117;
    color:white;
    font-family:Arial;
    margin:40px;
}

h1{
    text-align:center;
    color:#00ff99;
}

.card{

    width:420px;

    margin:auto;

    background:#161b22;

    padding:25px;

    border-radius:20px;

    box-shadow:0 0 25px rgba(0,255,150,.25);

}

.row{

    display:flex;

    justify-content:space-between;

    padding:12px;

    border-bottom:1px solid #333;

}

.price{

    color:#00ff99;

}

</style>

</head>

<body>

<div class="card">

<h1>🚀 TEKA MarketMind</h1>

{% for coin in coins %}

<div class="row">

<div>{{coin.name}}</div>

<div class="price">
${{coin.price}}
</div>

</div>

{% endfor %}

</div>

</body>

</html>